# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 私有配置
project.private.config.json
.cloudbase/
#云函数(云文件夹右键同步即可)
.cloudfunctions/